apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: tykroutes.vourteen14.labs
spec:
  group: vourteen14.labs
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            required:
            - target
            - apiDefinition
            properties:
              target:
                type: object
                required:
                - configMapName
                properties:
                  configMapName:
                    type: string
                  namespace:
                    type: string
                  tykDeployment:
                    type: string
              apiDefinition:
                type: object
                x-kubernetes-preserve-unknown-fields: true
          status:
            type: object
            x-kubernetes-preserve-unknown-fields: true
    subresources:
      status: {}
  scope: Namespaced
  names:
    plural: tykroutes
    singular: tykroute
    kind: TykRoute
    shortNames:
    - tykroute
